
@{
    ViewBag.Title = "About";
}



<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-md-3">
            @Html.Partial("_PartialCategories")
        </div>
        <div class="col-md-9">
            <h2 class="text-center">Hakkımızda</h2>
            </hr>
            <img src="~/Content/logo.png.png" class="center-block img-responsive img-rounded img-thumbnail" />
            </hr>
            <p>Hakkımızda yazısı örneği, kurumun yaptığı iş, amaçları ve adresi gibi birçok maddenin belirtildiği, kurumun veya sitenin amacının ne olduğunu net, anlaşılır ve akıcı bir dille ifade edildiği şekilde olmalıdır.  Bunun için çok kaliteli ve özenle yazılmış hakkımızda yazı örneklerine ihtiyacınız vardır. Sitenizde kimliğiniz kullanıcılar açsından son derece önemlidir. Kimliksiz bir sitenin amacı ve ne doğrultuda kurulduğu belli olmadığı için kullanıcılar ve ziyaretçiler bir ön yargı ile bu duruma yaklaşabilirler. Her web sitesinde, kurumsal olsun özel ya da şahıs adına olsun mutlaka hakkımızda bölümü yer almalıdır.  Bu bölümde yer alan yazı profesyonelce yazılmış ve tam olarak amacınızın ne olduğunu anlatacak bir yazı olmalıdır. Web tasarımcılar bazen hakkımızda sayfasını ikincil sayfa olarak değerlendirip önem vermezler. Lakin hakkımızda yazısı ikincil bir sayfa değildir ve ana sayfa kadar değerli bir alandır. Hakkımızda yazısı sizin vizyonunuz ve kalitenizin gösterildiği alanlardan biridir.</p>
            <div class="row">

            </div>
        </div>
    </div>
</div>

